:root{
    background-color:#0f172a;
    color:#e5e7eb;
}
#btn,#disp{
    background-color: #000000;
    color:#ffffff;
}
#top{
    text-align: center;
    font-weight:bold;
    font-size: 30px;
    height:10vh;
}
#main{
font-size: medium;
height:80vh;
}
#tail{
    font-weight:bold;
    font-size: 30px;
    height:10vh;
    text-align: center;
}
#operations{
    text-align:center;
}
#form{
    margin-top: 5vh;;
    padding-left: 10vw;
    display: flex;
    gap:20px;
    font-family: 'Times New Roman', Times, serif;
}
#read{
    margin-top:5vh;
    margin-left: 35vw;
}
#read label{
    margin-left: 10vh;
}
#submit{
    margin-top: 5vh;
    padding-left:45vw;;
}
#display{
    display:flex;
    gap:3vw;
    flex-wrap: wrap;
}
#disp{
    display:none;
}